.mainMenu {
    border-radius: 10px;

    &:hover {
        background-color: rgba(9, 55, 180, 0.062);
        cursor: pointer;
    }
}

* {
    margin: 0;
    padding: 0;
}

.allmenu {
    font-size: 13px;
}

.close {
    position: fixed;
    transform: translateX(-100%); /* Move it off-screen to the right */
}

.open{
    position: fixed;
    height: 100vh;
    transform: translateX(0);
}

.main {
    transition: transform 1s ease;
    /* transition: right 1s ease; */
    
}
.search_inpt input {
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    width: 85%;
}

.search_inpt {

    border: 1px solid black;
}

.subgroup:hover {
    background-color: rgba(9, 55, 180, 0.062);
    cursor: pointer;
}